table {
color: black;
}

button{
  border: 2px solid #e7e7e7;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
background-color: #FAFAD2;
}

#reset_button {
margin-left: 900px;
}

.inputs {
 border: 2px solid #e7e7e7;
font-size: 20px;
background-color: white;
color: black;
}

* {
background-color: aliceblue;
}

#errorText {
padding-left: 50px;
font-size: 20px;
color: red;
}

#errorPassword {
padding-left: 50px;
font-size: 20px;
color: red;
}

label {
font-family: Monaco, monospace;
}

form {
font-size: 20px;
padding-left: 50px;
}

td {
padding: 10px;
}

iframe{
  display: none;
}
